.container {
  max-width: 800px;
  margin: 0 auto;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  backdrop-filter: blur(20px);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
  background-color: #a0b1d5;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  place-items: center;
  padding: 0.8rem;
  border-radius: 1rem;
}

.item {
  background-color: #94a4d8;
  margin: 1px;
  border-radius: 6px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
}
