body {
  background-image: url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg);
  background-size: 300px;
}

#root {
  padding: 25px;
  height: 100vh;
}

.glass {
  backdrop-filter: blur(2px);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 100%;
}
